body{background: #707070;}
h1 {color:orange;
	text-align:center;
	font: bold 30px 'Trebuchet MS',Arial, Helvetica;
}
.header {visibility:visible;
		color:orange;
		position:fixed;
		cursor:default;
		display:block;
		width:100%;
		min-height:60px;
		text-align:left;
		top:0px;
		left:0px;
    background: #555555;
    background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#2e2e2e) );
    background: -moz-linear-gradient(-90deg, #707070, #2e2e2e);
}
		
.name {width:134px;
		display:inline block;
		float:left;
		text-align:center;
		font: bold 30px 'Trebuchet MS',Arial, Helvetica;
		text-shadow: 0 1px 0 rgba(0,0,0,0.4);
		height:100%;
		vertical-align:middle;
		margin-left:1%;
		}
.hello,
.table {
		width:20%;
		min-width:200px;
		display:inline-block;
		float:right;
		height:40px;
		}
		
.main {
	overflow:auto;
	display:block;
	position:fixed;
	top:75px;
}
		

table {border-collapse:collapse;
}

td{min-width:300px;
	max-width:300px;
	min-height:32px;
	max-height:32px;
	width:300px;
	height:32px;
	border-color:black;
	border-width:1px;
	background-color:white;
	text-indent:20px;
	border-style:solid;
}
.button {
    margin: 10px;
    text-decoration: none;
    font: bold 30px 'Trebuchet MS',Arial, Helvetica; 
    display: inline-block;
    text-align: center;
    color: #fff;    
    border: 1px solid #9c9c9c; 
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);    
    box-shadow: 0 0 .05em rgba(0,0,0,0.4);   
	background: #e68a00;
    background: -webkit-gradient(linear, left top, left bottom, from(#cc7a00), to(#e68a00) );
    background: -moz-linear-gradient(-90deg, #cc7a00, #e68a00);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc7a00', endColorstr='#e68a00');
	-moz-border-radius: .3em;
    border-radius: .3em;
}

.button:hover {
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
	background: #cc7a00;
    background: -webkit-gradient(linear, left top, left bottom, from(#e68a00), to(#cc7a00) );
    background: -moz-linear-gradient(-90deg, #e68a00, #cc7a00);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e68a00', endColorstr='#cc7a00');
}

.button:active, 
.pressed,
.pressed:hover {
    position: relative;
    top: 1px;
	background: #b26b00;
}
